.flickity-enabled {position:relative}
.flickity-enabled:focus {outline:none}
.flickity-viewport {overflow:hidden;position:relative;cursor:-webkit-grab;cursor:grab}
.flickity-viewport.is-pointer-down {cursor:-webkit-grabbing;cursor:grabbing}
.flickity-slider {position:absolute; width:100%}
.flickity-prev-next-button {position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:#fff;background:hsla(0,0%,100%,.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.flickity-prev-next-button.previous {left:10px}
.flickity-prev-next-button.next {right:10px}
.flickity-prev-next-button:disabled {opacity:.3;cursor:auto}
.flickity-prev-next-button svg {position:absolute;left:20%;top:20%;width:60%;height:60%}
.flickity-prev-next-button.arrow {fill:#333}
.flickity-prev-next-button.no-svg {color:#333;font-size:26px}
.flickity-page-dots {position:absolute;bottom:8px;right:1rem;padding:0;margin:0;list-style:none;text-align:center;line-height:1}
.flickity-page-dots .dot {display:inline-block;width:10px;height:10px;margin:0 3px;background:#fff;border-radius:50%; opacity:.5;cursor:pointer}
.flickity-page-dots .dot.is-selected {background:#ff0103;opacity:1;border:solid 1px #fff;}
.content-wrap {margin:0 auto;}
.main h2 {border-top:4px double#ddd;padding-top:60px;margin-top:80px}
.main h3 {border-top:1px solid#ddd;padding-top:30px}
.hero-gallery {background-size:cover}
.hero-gallery__cell{width:100%;color:#fff;}
.hero-gallery__cell img { width:100%; }
.hero-gallery .tagline{font-size:1.4em;margin:0}.slogan{line-height:1.2;margin:0}
.slogan--easy,.slogan--fun{font-size:2.2em;line-height:1.1}
.slogan--tagline{margin-top:10px;font-size:1.2em;color:#333}
.feature-list{font-size:1.8em;list-style:none;line-height:1.2;margin:0;padding:0}
.feature-list li{margin-bottom:10px}
.by-line--made{padding-top:20px;margin-bottom:10px;color:#333}
.by-line--made b{font-family:texta heavy,sans-serif}
.big-links{list-style:none;margin:0 0 60px;padding:0}
.big-links:after{content:'';display:block;clear:both}
.big-links__item{margin-bottom:10px;font-size:1.2em}
.big-links__item a{display:block;padding:10px;border-radius:5px}
.big-links__item--fill a{background:#8c8;color:#fff}
.big-links__item--fill a:hover{background:#ec5}
.big-links__item--stroke a{border:2px solid #8c8}
.big-links__item--stroke a:hover{border-color:#ec5}
.big-links__link:hover{background:#ec5;color:#fff}
.call-out{border:2px solid #ed2;padding:10px 20px 10px 80px;border-radius:6px;position:relative;margin:20px 0}
.call-out:before{content:'i';display:block;width:40px;height:40px;position:absolute;left:20px;top:30px;background:#ed2;border-radius:50%;text-align:center;color:#fff;font-size:1.9em;font-family:Consolas,Georgia,serif;font-style:italic;line-height:46px}
.call-out h2{margin-top:0;padding-top:10px;border-top:none}
.call-out--beta-testing p,.call-out--beta-testing li{font-size:1.2em}
.call-out--beta-testing p{line-height:1.3}
.call-out--chill{border-color:#8c8}
.call-out--chill:before{background:#8c8}
.quick-start p,.quick-start li:before{font-size:1.2em;line-height:1.2}
.quick-start ol{list-style:none}
.quick-start li{position:relative;counter-increment:quick-start-item}
.quick-start li:before{content:counter(quick-start-item) ".";position:absolute;left:-1.2em;font-size:1.2em;font-weight:700;font-family:texta heavy,sans-serif}
.example{margin-bottom:40px}.example:after{content:'';display:block;clear:both}
.example__code pre{margin:0 0 20px}
.gallery{background:#fafafa;margin-bottom:30px;counter-reset:gallery-cell}
.gallery-cell{width:100%;height:160px;background:#8c8;counter-increment:gallery-cell}
.gallery-cell:before{content:counter(gallery-cell);display:block;text-align:center;line-height:160px;font-size:80px;font-weight:700;color:#fff}
.gallery--margin .gallery-cell{margin-right:10px}
.half-width-margin .gallery-cell{width:50%;margin-right:10px}
.various-size .gallery-cell{width:33%;margin-right:10px}
.various-size .gallery-cell.size-180{width:180px}
.various-size .gallery-cell.size-large{width:75%}
.media-queried .gallery-cell{width:100%;margin-right:2%}
.show-neighbors .gallery-cell{width:66%;margin:0 5px}
.gallery--contain-demo .gallery-cell{width:30%;margin-right:2%}
.gallery--auto-play-demo .gallery-cell{margin-right:2%}
.gallery--images-loaded-demo img{display:block;height:160px}
.gallery--images-demo{margin-bottom:40px}
.gallery--images-demo img{display:block;height:160px}
.gallery--watch-demo:after{content:'flickity';display:none}
.gallery--watch-demo .gallery-cell{margin-right:10px}
.gallery--prev-next-big-arrow .flickity-prev-next-button{width:100px;height:100px;background:0 0}
.gallery--prev-next-big-arrow .flickity-prev-next-button .arrow{fill:#fff}
.gallery--prev-next-big-arrow .flickity-prev-next-button.no-svg{color:#fff}
.gallery--prev-next-big-arrow .flickity-prev-next-button:disabled{display:none}
.gallery--prev-next-small-outside{margin-left:40px;margin-right:40px}
.gallery--prev-next-small-outside .flickity-prev-next-button{width:30px;height:30px;border-radius:5px;background:#333}
.gallery--prev-next-small-outside .flickity-prev-next-button .arrow{fill:#fff}
.gallery--prev-next-small-outside .flickity-prev-next-button.no-svg{color:#fff}
.gallery--prev-next-small-outside .flickity-prev-next-button.previous{left:-40px}
.gallery--prev-next-small-outside .flickity-prev-next-button.next{right:-40px}
.gallery--o-dots .flickity-page-dots{bottom:0}
.gallery--o-dots .flickity-page-dots .dot{width:12px;height:12px;opacity:1;background:0 0;border:2px solid #fff}
.gallery--o-dots .flickity-page-dots .dot.is-selected{background:#fff}
.gallery--line-dots .flickity-page-dots{bottom:-22px}
.gallery--line-dots .flickity-page-dots .dot{height:4px;width:40px;margin:0;border-radius:0}
.site-footer{margin-top:80px;background:#fafafa;padding:40px 0}
.site-footer p{font-size:1.2em}.other-products:after{content:'';display:block;clear:both}
.other-products__cell a{display:block;position:relative;padding:10px 10px 10px 135px;border-radius:6px;margin-bottom:20px;min-height:120px;background:#eee}
.other-products__cell a:hover{background:#8c8;color:#fff}
.other-products__cell img{display:block;position:absolute;left:0;top:0;width:100%;max-width:120px;border-radius:5px 0 0 5px}
.other-products__cell h3{margin:0 0 0}
.other-products__cell .description{font-size:1.1em;line-height:1.2;margin:0}@media screen and (min-width:768px){.hero-gallery__cell{height:440px;padding:40px 0 0}
.hero-gallery h1{font-size:5.8em;padding-top:60px}
.hero-gallery .tagline{font-size:2.1em}
.slogan--easy,.slogan--fun{font-size:4.8em}
.slogan--tagline{margin-top:20px;font-size:2.4em}
.feature-list{font-size:3.1em}
.feature-list li{margin-bottom:20px}
.by-line{font-size:3.1em}
.by-line--made{padding-top:40px;margin-bottom:20px}
.big-links__item{float:left;width:49%;font-size:1.4em}.big-links__item a{padding:20px}
.big-links__item:nth-child(2n+1){margin-right:2%}
.example__code,.example__demo{float:left;width:48%}
.example__code{margin-right:4%}
.media-queried .gallery-cell{width:49%}.gallery--watch-demo:after{content:''}
.gallery--watch-demo .gallery-cell{margin-bottom:10px}
.gallery--images-demo img{height:400px}
.other-products__cell{float:left;width:49%}
.other-products__cell:nth-child(2n+1){margin-right:2%}}
pre,code{font-family:Consolas,Menlo,monospace;font-size:15px;background:#fafafa;border:1px solid #ddd;white-space:pre-wrap}
pre{padding:10px;border-radius:6px;overflow-x:auto}
code{padding:2px 3px;line-height:1.2;border-radius:3px}
pre code{padding:0;line-height:1.5;background:0 0;border:none}
code .string,code .tag .value{color:#072}
code .number,code .cp,code .literal{color:#07d}
code .keyword{color:#c31}
code .kd,code .attribute{color:#a61}
code .title{color:#39a}
code .params{color:#98d}
code .p{color:#edb}
code .o{color:#f63}
code .nb{color:#aa97ac}
code .comment{color:#999;font-style:italic}
code .tag{color:#37b}code .id{color:#567}
code .class{color:#a63}code .rules{color:#431}
code .m{color:#de8e50}code .nd{color:#9fad7e}
code .hexcolor{color:#f63}
code .at_rule{color:#088}
